{
    "module": {
        "type": "es6"
    },
    "jsc": {
        "externalHelpers": false,
        "target": "es2022",
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true
        },
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": false,
            "react": {
                "throwIfNamespace": false,
                "development": false,
                "useBuiltins": false,
                "pragma": "React.createElement",
                "pragmaFrag": "React.Fragment",
                "importSource": "react"
            }
        },
        "keepClassNames": false,
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false
        }
    },
    "minify": false
}
// https://swc.rs/playground